name: Deploy to Hetzner VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            # Navega para a pasta principal do projeto
            cd /home/nuno/sites/ativos.pt
            
            # Vai buscar as últimas alterações do código
            git pull
            
            # Entra na pasta da aplicação e executa a sequência de deploy
            cd packages/webapp && \
            echo "A popular a base de dados com dados essenciais..." && \
            node ./scripts/run-seed.js && \
            echo "A reconstruir e reiniciar os contentores Docker..." && \
            docker compose up --build -d